<h1>Where are you, Zahra?</h1>

<form action="/cities/new" method="POST">

  <p>
    <label name="name">Your Name</label>
    <input name="name" type="text"/>
  </p>

  <p>
    <label name="destination">Destination</label>
    <input name="destination" type="text" placeholder="park, campground,lake"/>
  </p>

  <p>
    <label name="state">State</label>
    <input name="state" type="text" />
  </p>

  <p>
    <label name="country">Country</label>
    <input name="country" type="text" />
  </p>
  <p>
    <input type="submit" />
  </p>
</form>
