<h1> Weather in your city </h1>
<div class="weather_local"
  <h2>City: <%= data["display_location"]["city"] %></h2>
  <p> State: <%= data["display_location"]["state"] %></p>
  <p> Weather: <%= data["weather"] %></p>
  <p> Temp: <%= data["temp_f"] %> F </p>
</div>



