<nav class="nav-bar-home">
  <ul id="nav-bar-home-list">
      <li class="li-inline"><a href="/">Home</a></li>
    <!-- if logged_in?  -->
      <!-- <form id="logout" action="" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form> -->
    <!-- else  -->
      <li class="li-inline"><a href="">Login</a></li>
      <li class="li-inline"><a href="">Sign Up</a></li>
    <!-- end  -->
  </ul>
</nav>
